on: 
  push:
    branches:
      - master

name: Deploy website on push
jobs:
  web-deploy:
    name: Deploy
    runs-on: self-hosted
    steps:
    - name: Get latest code
      uses: actions/checkout@v2

    - name: Sync files
      uses: SamKirkland/FTP-Deploy-Action@4.2.0
      with:
        server: ftp://34.79.175.50
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        port: ${{ secrets.FTP_PORT }}